@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
a {
  color: #fff;
}
body {
  background: rgb(110, 121, 110);
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}
h1,
h5 {
  color: white;
  margin: 30px 0;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

nav {
  background-image: url(/images/11.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 90px;
  height: 90px;
}
.hamburger {
  cursor: pointer;
  display: none;
}

.fa {
  color: #fff;
}

ul li {
  display: inline-block;
  padding: 0 20px;
}
#home{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.images-container {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  -webkit-overflow-scrolling: none;
}

#contact {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
  /* width: 100%; */
}
#contact h1{
  color: black;
}

@media (max-width: 800px) {
  .images-container::-webkit-scrollbar {
    display: none;
  }

  a {
    color: black;
  }
  .navlinks {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    height: 100vh;
    transition: 0.5s ease-in-out;
  }
  .navlinks .fa {
    color: black;
  }
  .navlinks-container {
    display: none;
    transition: display 0.5s ease-in-out;
  }

  ul li {
    display: block;
    margin: 70px;
  }
  .hamburger {
    cursor: pointer;

    display: block;
  }
  .logo img {
    width: 40px;
    height: 40px;
  }
  .shownav {
    display: block;
  }
  #home img {
    width: 100%;
    height: 100%;
  }
}
